@import url('https://themes.googleusercontent.com/fonts/css?kit=lP_zLWumFjKNT7qDFH9ZILGbeSp0llON0Yj36I4WjBQ');

.lst-kix_y595ephgpb3h-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_y595ephgpb3h-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_y595ephgpb3h-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_y595ephgpb3h-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_gmxcflldom58-0 {
    list-style-type: none
}

ul.lst-kix_wltdgkhwhzxv-0 {
    list-style-type: none
}

ul.lst-kix_wltdgkhwhzxv-3 {
    list-style-type: none
}

ul.lst-kix_wltdgkhwhzxv-4 {
    list-style-type: none
}

ul.lst-kix_wltdgkhwhzxv-1 {
    list-style-type: none
}

ul.lst-kix_wltdgkhwhzxv-2 {
    list-style-type: none
}

ul.lst-kix_wltdgkhwhzxv-7 {
    list-style-type: none
}

ul.lst-kix_wltdgkhwhzxv-8 {
    list-style-type: none
}

ul.lst-kix_wltdgkhwhzxv-5 {
    list-style-type: none
}

ul.lst-kix_wltdgkhwhzxv-6 {
    list-style-type: none
}

.lst-kix_y595ephgpb3h-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_y595ephgpb3h-5 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_gmxcflldom58-8 {
    list-style-type: none
}

ul.lst-kix_gmxcflldom58-7 {
    list-style-type: none
}

ul.lst-kix_gmxcflldom58-6 {
    list-style-type: none
}

.lst-kix_y595ephgpb3h-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_y595ephgpb3h-4 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_gmxcflldom58-5 {
    list-style-type: none
}

ul.lst-kix_gmxcflldom58-4 {
    list-style-type: none
}

ul.lst-kix_gmxcflldom58-3 {
    list-style-type: none
}

ul.lst-kix_gmxcflldom58-2 {
    list-style-type: none
}

.lst-kix_y595ephgpb3h-3 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_gmxcflldom58-1 {
    list-style-type: none
}

ul.lst-kix_c879jnvm6zt8-0 {
    list-style-type: none
}

ul.lst-kix_c879jnvm6zt8-2 {
    list-style-type: none
}

ul.lst-kix_c879jnvm6zt8-1 {
    list-style-type: none
}

ul.lst-kix_c879jnvm6zt8-4 {
    list-style-type: none
}

ul.lst-kix_c879jnvm6zt8-3 {
    list-style-type: none
}

ul.lst-kix_c879jnvm6zt8-6 {
    list-style-type: none
}

ul.lst-kix_c879jnvm6zt8-5 {
    list-style-type: none
}

.lst-kix_nj7p328tqlnx-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_nj7p328tqlnx-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_nj7p328tqlnx-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_nj7p328tqlnx-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_nj7p328tqlnx-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_7w7kkvpsax7d-7 > li:before {
    content: "-  "
}

.lst-kix_7w7kkvpsax7d-8 > li:before {
    content: "-  "
}

.lst-kix_nj7p328tqlnx-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_7w7kkvpsax7d-5 > li:before {
    content: "-  "
}

.lst-kix_7w7kkvpsax7d-6 > li:before {
    content: "-  "
}

.lst-kix_nj7p328tqlnx-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_7w7kkvpsax7d-1 > li:before {
    content: "-  "
}

.lst-kix_7w7kkvpsax7d-2 > li:before {
    content: "-  "
}

.lst-kix_7w7kkvpsax7d-0 > li:before {
    content: "-  "
}

.lst-kix_7w7kkvpsax7d-3 > li:before {
    content: "-  "
}

.lst-kix_7w7kkvpsax7d-4 > li:before {
    content: "-  "
}

.lst-kix_nj7p328tqlnx-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_nj7p328tqlnx-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_h5k4sc9zf80p-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_h5k4sc9zf80p-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_rb62l4quicnu-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_h5k4sc9zf80p-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_804yv6nli44b-0 {
    list-style-type: none
}

ul.lst-kix_804yv6nli44b-3 {
    list-style-type: none
}

ul.lst-kix_804yv6nli44b-4 {
    list-style-type: none
}

.lst-kix_rb62l4quicnu-1 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_804yv6nli44b-1 {
    list-style-type: none
}

ul.lst-kix_804yv6nli44b-2 {
    list-style-type: none
}

ul.lst-kix_804yv6nli44b-7 {
    list-style-type: none
}

ul.lst-kix_804yv6nli44b-8 {
    list-style-type: none
}

ul.lst-kix_804yv6nli44b-5 {
    list-style-type: none
}

ul.lst-kix_804yv6nli44b-6 {
    list-style-type: none
}

ul.lst-kix_dd6tbsxnlspf-4 {
    list-style-type: none
}

ul.lst-kix_dd6tbsxnlspf-3 {
    list-style-type: none
}

ul.lst-kix_dd6tbsxnlspf-6 {
    list-style-type: none
}

ul.lst-kix_dd6tbsxnlspf-5 {
    list-style-type: none
}

ul.lst-kix_dd6tbsxnlspf-0 {
    list-style-type: none
}

.lst-kix_rb62l4quicnu-5 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_dd6tbsxnlspf-2 {
    list-style-type: none
}

.lst-kix_h5k4sc9zf80p-2 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_dd6tbsxnlspf-1 {
    list-style-type: none
}

.lst-kix_rb62l4quicnu-3 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_dd6tbsxnlspf-8 {
    list-style-type: none
}

ul.lst-kix_dd6tbsxnlspf-7 {
    list-style-type: none
}

.lst-kix_h5k4sc9zf80p-0 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_4yuovmdewchx-0 {
    list-style-type: none
}

ul.lst-kix_4yuovmdewchx-1 {
    list-style-type: none
}

.lst-kix_pk4t1fnv3wko-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_pk4t1fnv3wko-4 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_4yuovmdewchx-4 {
    list-style-type: none
}

ul.lst-kix_4yuovmdewchx-5 {
    list-style-type: none
}

ul.lst-kix_4yuovmdewchx-2 {
    list-style-type: none
}

ul.lst-kix_4yuovmdewchx-3 {
    list-style-type: none
}

ul.lst-kix_4yuovmdewchx-8 {
    list-style-type: none
}

ul.lst-kix_8lib8xjqf3xu-6 {
    list-style-type: none
}

ul.lst-kix_8lib8xjqf3xu-5 {
    list-style-type: none
}

ul.lst-kix_4yuovmdewchx-6 {
    list-style-type: none
}

ul.lst-kix_8lib8xjqf3xu-4 {
    list-style-type: none
}

.lst-kix_pk4t1fnv3wko-6 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_4yuovmdewchx-7 {
    list-style-type: none
}

ul.lst-kix_8lib8xjqf3xu-3 {
    list-style-type: none
}

ul.lst-kix_8lib8xjqf3xu-8 {
    list-style-type: none
}

ul.lst-kix_8lib8xjqf3xu-7 {
    list-style-type: none
}

.lst-kix_pk4t1fnv3wko-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_4yuovmdewchx-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_4yuovmdewchx-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_4yuovmdewchx-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_4yuovmdewchx-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_pk4t1fnv3wko-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_4yuovmdewchx-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_xtaj8vp24uuq-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_44f67kqbm3z2-3 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_8lib8xjqf3xu-2 {
    list-style-type: none
}

ul.lst-kix_8lib8xjqf3xu-1 {
    list-style-type: none
}

.lst-kix_44f67kqbm3z2-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_44f67kqbm3z2-6 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_8lib8xjqf3xu-0 {
    list-style-type: none
}

.lst-kix_mn7iqbn6ax0y-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_mn7iqbn6ax0y-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_98bbznqzq11f-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_tjxu38hrgull-0 > li:before {
    content: "-  "
}

.lst-kix_dd6tbsxnlspf-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_dd6tbsxnlspf-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_tjxu38hrgull-3 > li:before {
    content: "-  "
}

.lst-kix_98bbznqzq11f-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_dd6tbsxnlspf-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_yk38yxpymq1b-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_tjxu38hrgull-4 > li:before {
    content: "-  "
}

.lst-kix_tjxu38hrgull-8 > li:before {
    content: "-  "
}

.lst-kix_98bbznqzq11f-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_dd6tbsxnlspf-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_tjxu38hrgull-7 > li:before {
    content: "-  "
}

.lst-kix_yk38yxpymq1b-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_98bbznqzq11f-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_lc15eay009g4-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_lc15eay009g4-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_ke9s88nph1fy-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_ke9s88nph1fy-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_yk38yxpymq1b-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_xtaj8vp24uuq-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_yk38yxpymq1b-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_lc15eay009g4-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_ke9s88nph1fy-5 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_xtaj8vp24uuq-1 {
    list-style-type: none
}

.lst-kix_xtaj8vp24uuq-1 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_xtaj8vp24uuq-2 {
    list-style-type: none
}

.lst-kix_ke9s88nph1fy-6 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_xtaj8vp24uuq-0 {
    list-style-type: none
}

ul.lst-kix_xtaj8vp24uuq-5 {
    list-style-type: none
}

ul.lst-kix_xtaj8vp24uuq-6 {
    list-style-type: none
}

.lst-kix_lc15eay009g4-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_lc15eay009g4-4 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_xtaj8vp24uuq-3 {
    list-style-type: none
}

ul.lst-kix_xtaj8vp24uuq-4 {
    list-style-type: none
}

.lst-kix_xtaj8vp24uuq-5 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_xtaj8vp24uuq-7 {
    list-style-type: none
}

ul.lst-kix_xtaj8vp24uuq-8 {
    list-style-type: none
}

.lst-kix_xtaj8vp24uuq-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_98bbznqzq11f-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_h5k4sc9zf80p-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_q2bbs9rxux9q-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_q2bbs9rxux9q-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_h5k4sc9zf80p-7 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_mn7iqbn6ax0y-8 {
    list-style-type: none
}

ul.lst-kix_mn7iqbn6ax0y-7 {
    list-style-type: none
}

ul.lst-kix_mn7iqbn6ax0y-6 {
    list-style-type: none
}

ul.lst-kix_mn7iqbn6ax0y-5 {
    list-style-type: none
}

.lst-kix_804yv6nli44b-3 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_mn7iqbn6ax0y-0 {
    list-style-type: none
}

.lst-kix_rb62l4quicnu-6 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_mn7iqbn6ax0y-4 {
    list-style-type: none
}

.lst-kix_gyl93j9fnttc-3 > li:before {
    content: "-  "
}

ul.lst-kix_mn7iqbn6ax0y-3 {
    list-style-type: none
}

ul.lst-kix_mn7iqbn6ax0y-2 {
    list-style-type: none
}

ul.lst-kix_mn7iqbn6ax0y-1 {
    list-style-type: none
}

ul.lst-kix_c879jnvm6zt8-8 {
    list-style-type: none
}

ul.lst-kix_c879jnvm6zt8-7 {
    list-style-type: none
}

.lst-kix_rb62l4quicnu-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_804yv6nli44b-7 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_yk38yxpymq1b-0 {
    list-style-type: none
}

ul.lst-kix_yk38yxpymq1b-4 {
    list-style-type: none
}

ul.lst-kix_yk38yxpymq1b-3 {
    list-style-type: none
}

.lst-kix_gyl93j9fnttc-7 > li:before {
    content: "-  "
}

ul.lst-kix_yk38yxpymq1b-2 {
    list-style-type: none
}

ul.lst-kix_yk38yxpymq1b-1 {
    list-style-type: none
}

.lst-kix_pk4t1fnv3wko-3 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_yk38yxpymq1b-8 {
    list-style-type: none
}

.lst-kix_mn7iqbn6ax0y-5 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_yk38yxpymq1b-7 {
    list-style-type: none
}

ul.lst-kix_yk38yxpymq1b-6 {
    list-style-type: none
}

ul.lst-kix_yk38yxpymq1b-5 {
    list-style-type: none
}

.lst-kix_c879jnvm6zt8-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_rmdgyn8smaxk-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_c879jnvm6zt8-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_rmdgyn8smaxk-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_4yuovmdewchx-3 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_lc15eay009g4-0 {
    list-style-type: none
}

ul.lst-kix_7w7kkvpsax7d-4 {
    list-style-type: none
}

ul.lst-kix_7w7kkvpsax7d-3 {
    list-style-type: none
}

ul.lst-kix_7w7kkvpsax7d-6 {
    list-style-type: none
}

ul.lst-kix_7w7kkvpsax7d-5 {
    list-style-type: none
}

ul.lst-kix_lc15eay009g4-4 {
    list-style-type: none
}

ul.lst-kix_7w7kkvpsax7d-8 {
    list-style-type: none
}

ul.lst-kix_lc15eay009g4-3 {
    list-style-type: none
}

ul.lst-kix_7w7kkvpsax7d-7 {
    list-style-type: none
}

ul.lst-kix_lc15eay009g4-2 {
    list-style-type: none
}

ul.lst-kix_lc15eay009g4-1 {
    list-style-type: none
}

.lst-kix_pk4t1fnv3wko-7 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_lc15eay009g4-8 {
    list-style-type: none
}

ul.lst-kix_lc15eay009g4-7 {
    list-style-type: none
}

ul.lst-kix_lc15eay009g4-6 {
    list-style-type: none
}

ul.lst-kix_lc15eay009g4-5 {
    list-style-type: none
}

ul.lst-kix_7w7kkvpsax7d-0 {
    list-style-type: none
}

ul.lst-kix_7w7kkvpsax7d-2 {
    list-style-type: none
}

ul.lst-kix_7w7kkvpsax7d-1 {
    list-style-type: none
}

.lst-kix_4yuovmdewchx-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_8lib8xjqf3xu-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_8lib8xjqf3xu-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_8lib8xjqf3xu-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_gmxcflldom58-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_gmxcflldom58-1 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_h5k4sc9zf80p-8 {
    list-style-type: none
}

.lst-kix_8lib8xjqf3xu-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_gmxcflldom58-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_gmxcflldom58-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_8lib8xjqf3xu-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_gmxcflldom58-3 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_h5k4sc9zf80p-1 {
    list-style-type: none
}

ul.lst-kix_h5k4sc9zf80p-0 {
    list-style-type: none
}

ul.lst-kix_h5k4sc9zf80p-3 {
    list-style-type: none
}

ul.lst-kix_h5k4sc9zf80p-2 {
    list-style-type: none
}

.lst-kix_gmxcflldom58-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_gmxcflldom58-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_nj7p328tqlnx-3 {
    list-style-type: none
}

ul.lst-kix_h5k4sc9zf80p-5 {
    list-style-type: none
}

ul.lst-kix_nj7p328tqlnx-2 {
    list-style-type: none
}

ul.lst-kix_h5k4sc9zf80p-4 {
    list-style-type: none
}

ul.lst-kix_nj7p328tqlnx-1 {
    list-style-type: none
}

ul.lst-kix_h5k4sc9zf80p-7 {
    list-style-type: none
}

ul.lst-kix_nj7p328tqlnx-0 {
    list-style-type: none
}

ul.lst-kix_h5k4sc9zf80p-6 {
    list-style-type: none
}

.lst-kix_gmxcflldom58-5 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_nj7p328tqlnx-7 {
    list-style-type: none
}

ul.lst-kix_nj7p328tqlnx-6 {
    list-style-type: none
}

ul.lst-kix_nj7p328tqlnx-5 {
    list-style-type: none
}

ul.lst-kix_nj7p328tqlnx-4 {
    list-style-type: none
}

ul.lst-kix_nj7p328tqlnx-8 {
    list-style-type: none
}

.lst-kix_gmxcflldom58-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_8lib8xjqf3xu-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_8lib8xjqf3xu-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_b42d2kbvr5sz-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_b42d2kbvr5sz-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_b42d2kbvr5sz-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_8lib8xjqf3xu-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_8lib8xjqf3xu-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_ikmhwt1cqn5i-1 > li:before {
    content: "-  "
}

.lst-kix_b42d2kbvr5sz-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_ikmhwt1cqn5i-3 > li:before {
    content: "-  "
}

.lst-kix_ikmhwt1cqn5i-0 > li:before {
    content: "-  "
}

.lst-kix_ikmhwt1cqn5i-4 > li:before {
    content: "-  "
}

.lst-kix_wltdgkhwhzxv-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_ikmhwt1cqn5i-5 > li:before {
    content: "-  "
}

.lst-kix_wltdgkhwhzxv-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_wltdgkhwhzxv-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_ikmhwt1cqn5i-6 > li:before {
    content: "-  "
}

.lst-kix_b42d2kbvr5sz-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_wltdgkhwhzxv-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_wltdgkhwhzxv-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_wltdgkhwhzxv-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_b42d2kbvr5sz-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_b42d2kbvr5sz-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_wltdgkhwhzxv-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_b42d2kbvr5sz-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_wltdgkhwhzxv-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_b42d2kbvr5sz-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_ikmhwt1cqn5i-2 > li:before {
    content: "-  "
}

ul.lst-kix_98bbznqzq11f-8 {
    list-style-type: none
}

ul.lst-kix_tjxu38hrgull-0 {
    list-style-type: none
}

ul.lst-kix_98bbznqzq11f-3 {
    list-style-type: none
}

ul.lst-kix_98bbznqzq11f-2 {
    list-style-type: none
}

ul.lst-kix_98bbznqzq11f-1 {
    list-style-type: none
}

ul.lst-kix_98bbznqzq11f-0 {
    list-style-type: none
}

ul.lst-kix_98bbznqzq11f-7 {
    list-style-type: none
}

ul.lst-kix_98bbznqzq11f-6 {
    list-style-type: none
}

ul.lst-kix_98bbznqzq11f-5 {
    list-style-type: none
}

ul.lst-kix_98bbznqzq11f-4 {
    list-style-type: none
}

.lst-kix_ikmhwt1cqn5i-7 > li:before {
    content: "-  "
}

.lst-kix_ikmhwt1cqn5i-8 > li:before {
    content: "-  "
}

ul.lst-kix_tjxu38hrgull-5 {
    list-style-type: none
}

ul.lst-kix_tjxu38hrgull-6 {
    list-style-type: none
}

.lst-kix_q2bbs9rxux9q-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_tjxu38hrgull-7 {
    list-style-type: none
}

ul.lst-kix_tjxu38hrgull-8 {
    list-style-type: none
}

ul.lst-kix_tjxu38hrgull-1 {
    list-style-type: none
}

ul.lst-kix_tjxu38hrgull-2 {
    list-style-type: none
}

ul.lst-kix_tjxu38hrgull-3 {
    list-style-type: none
}

ul.lst-kix_tjxu38hrgull-4 {
    list-style-type: none
}

.lst-kix_q2bbs9rxux9q-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_q2bbs9rxux9q-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_q2bbs9rxux9q-3 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_44f67kqbm3z2-0 {
    list-style-type: none
}

ul.lst-kix_44f67kqbm3z2-1 {
    list-style-type: none
}

ul.lst-kix_44f67kqbm3z2-2 {
    list-style-type: none
}

ul.lst-kix_44f67kqbm3z2-3 {
    list-style-type: none
}

ul.lst-kix_44f67kqbm3z2-4 {
    list-style-type: none
}

ul.lst-kix_44f67kqbm3z2-5 {
    list-style-type: none
}

ul.lst-kix_44f67kqbm3z2-6 {
    list-style-type: none
}

ul.lst-kix_44f67kqbm3z2-7 {
    list-style-type: none
}

ul.lst-kix_44f67kqbm3z2-8 {
    list-style-type: none
}

.lst-kix_q2bbs9rxux9q-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_804yv6nli44b-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_804yv6nli44b-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_804yv6nli44b-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_gyl93j9fnttc-2 > li:before {
    content: "-  "
}

ul.lst-kix_q2bbs9rxux9q-0 {
    list-style-type: none
}

.lst-kix_804yv6nli44b-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_pk4t1fnv3wko-5 {
    list-style-type: none
}

ul.lst-kix_q2bbs9rxux9q-6 {
    list-style-type: none
}

ul.lst-kix_pk4t1fnv3wko-6 {
    list-style-type: none
}

ul.lst-kix_q2bbs9rxux9q-5 {
    list-style-type: none
}

ul.lst-kix_pk4t1fnv3wko-7 {
    list-style-type: none
}

ul.lst-kix_q2bbs9rxux9q-8 {
    list-style-type: none
}

ul.lst-kix_pk4t1fnv3wko-8 {
    list-style-type: none
}

ul.lst-kix_q2bbs9rxux9q-7 {
    list-style-type: none
}

ul.lst-kix_pk4t1fnv3wko-1 {
    list-style-type: none
}

ul.lst-kix_q2bbs9rxux9q-2 {
    list-style-type: none
}

ul.lst-kix_pk4t1fnv3wko-2 {
    list-style-type: none
}

.lst-kix_gyl93j9fnttc-0 > li:before {
    content: "-  "
}

ul.lst-kix_q2bbs9rxux9q-1 {
    list-style-type: none
}

.lst-kix_804yv6nli44b-6 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_pk4t1fnv3wko-3 {
    list-style-type: none
}

ul.lst-kix_q2bbs9rxux9q-4 {
    list-style-type: none
}

ul.lst-kix_pk4t1fnv3wko-4 {
    list-style-type: none
}

ul.lst-kix_q2bbs9rxux9q-3 {
    list-style-type: none
}

.lst-kix_c879jnvm6zt8-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_c879jnvm6zt8-2 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_pk4t1fnv3wko-0 {
    list-style-type: none
}

.lst-kix_mn7iqbn6ax0y-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_44f67kqbm3z2-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_gyl93j9fnttc-6 > li:before {
    content: "-  "
}

.lst-kix_c879jnvm6zt8-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_gyl93j9fnttc-4 > li:before {
    content: "-  "
}

.lst-kix_mn7iqbn6ax0y-6 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_gyl93j9fnttc-5 {
    list-style-type: none
}

.lst-kix_rmdgyn8smaxk-0 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_gyl93j9fnttc-6 {
    list-style-type: none
}

ul.lst-kix_gyl93j9fnttc-7 {
    list-style-type: none
}

ul.lst-kix_gyl93j9fnttc-8 {
    list-style-type: none
}

ul.lst-kix_gyl93j9fnttc-1 {
    list-style-type: none
}

ul.lst-kix_gyl93j9fnttc-2 {
    list-style-type: none
}

ul.lst-kix_gyl93j9fnttc-3 {
    list-style-type: none
}

.lst-kix_mn7iqbn6ax0y-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_gyl93j9fnttc-4 {
    list-style-type: none
}

.lst-kix_c879jnvm6zt8-4 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_gyl93j9fnttc-0 {
    list-style-type: none
}

.lst-kix_rmdgyn8smaxk-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_gyl93j9fnttc-8 > li:before {
    content: "-  "
}

.lst-kix_rmdgyn8smaxk-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_rmdgyn8smaxk-2 {
    list-style-type: none
}

ul.lst-kix_rmdgyn8smaxk-3 {
    list-style-type: none
}

ul.lst-kix_rmdgyn8smaxk-0 {
    list-style-type: none
}

ul.lst-kix_rmdgyn8smaxk-1 {
    list-style-type: none
}

.lst-kix_rmdgyn8smaxk-4 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_rmdgyn8smaxk-6 {
    list-style-type: none
}

ul.lst-kix_rmdgyn8smaxk-7 {
    list-style-type: none
}

ul.lst-kix_rmdgyn8smaxk-4 {
    list-style-type: none
}

ul.lst-kix_rmdgyn8smaxk-5 {
    list-style-type: none
}

.lst-kix_rmdgyn8smaxk-6 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_rmdgyn8smaxk-8 {
    list-style-type: none
}

.lst-kix_c879jnvm6zt8-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_ikmhwt1cqn5i-3 {
    list-style-type: none
}

ul.lst-kix_ikmhwt1cqn5i-2 {
    list-style-type: none
}

ul.lst-kix_ikmhwt1cqn5i-1 {
    list-style-type: none
}

ul.lst-kix_ikmhwt1cqn5i-0 {
    list-style-type: none
}

ul.lst-kix_ikmhwt1cqn5i-7 {
    list-style-type: none
}

ul.lst-kix_ikmhwt1cqn5i-6 {
    list-style-type: none
}

.lst-kix_ke9s88nph1fy-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_ikmhwt1cqn5i-5 {
    list-style-type: none
}

ul.lst-kix_ikmhwt1cqn5i-4 {
    list-style-type: none
}

ul.lst-kix_ikmhwt1cqn5i-8 {
    list-style-type: none
}

ul.lst-kix_b42d2kbvr5sz-8 {
    list-style-type: none
}

ul.lst-kix_b42d2kbvr5sz-7 {
    list-style-type: none
}

ul.lst-kix_b42d2kbvr5sz-6 {
    list-style-type: none
}

ul.lst-kix_b42d2kbvr5sz-1 {
    list-style-type: none
}

ul.lst-kix_b42d2kbvr5sz-0 {
    list-style-type: none
}

ul.lst-kix_b42d2kbvr5sz-5 {
    list-style-type: none
}

ul.lst-kix_b42d2kbvr5sz-4 {
    list-style-type: none
}

ul.lst-kix_b42d2kbvr5sz-3 {
    list-style-type: none
}

ul.lst-kix_b42d2kbvr5sz-2 {
    list-style-type: none
}

.lst-kix_44f67kqbm3z2-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_44f67kqbm3z2-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_44f67kqbm3z2-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_mn7iqbn6ax0y-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_44f67kqbm3z2-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_98bbznqzq11f-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_tjxu38hrgull-1 > li:before {
    content: "-  "
}

.lst-kix_mn7iqbn6ax0y-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_98bbznqzq11f-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_tjxu38hrgull-2 > li:before {
    content: "-  "
}

.lst-kix_yk38yxpymq1b-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_98bbznqzq11f-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_dd6tbsxnlspf-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_tjxu38hrgull-6 > li:before {
    content: "-  "
}

.lst-kix_dd6tbsxnlspf-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_yk38yxpymq1b-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_tjxu38hrgull-5 > li:before {
    content: "-  "
}

.lst-kix_yk38yxpymq1b-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_yk38yxpymq1b-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_98bbznqzq11f-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_dd6tbsxnlspf-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_dd6tbsxnlspf-4 > li:before {
    content: "\0025cb  "
}

.lst-kix_xtaj8vp24uuq-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_ke9s88nph1fy-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_yk38yxpymq1b-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_lc15eay009g4-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_dd6tbsxnlspf-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_xtaj8vp24uuq-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_lc15eay009g4-6 > li:before {
    content: "\0025cf  "
}

ul.lst-kix_y595ephgpb3h-8 {
    list-style-type: none
}

ul.lst-kix_y595ephgpb3h-6 {
    list-style-type: none
}

ul.lst-kix_y595ephgpb3h-7 {
    list-style-type: none
}

.lst-kix_xtaj8vp24uuq-2 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_y595ephgpb3h-4 {
    list-style-type: none
}

.lst-kix_ke9s88nph1fy-4 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_y595ephgpb3h-5 {
    list-style-type: none
}

ul.lst-kix_y595ephgpb3h-2 {
    list-style-type: none
}

.lst-kix_ke9s88nph1fy-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_ke9s88nph1fy-7 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_y595ephgpb3h-3 {
    list-style-type: none
}

ul.lst-kix_y595ephgpb3h-0 {
    list-style-type: none
}

ul.lst-kix_y595ephgpb3h-1 {
    list-style-type: none
}

.lst-kix_lc15eay009g4-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_xtaj8vp24uuq-3 > li:before {
    content: "\0025cf  "
}

.lst-kix_lc15eay009g4-2 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_rb62l4quicnu-8 {
    list-style-type: none
}

.lst-kix_h5k4sc9zf80p-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_q2bbs9rxux9q-6 > li:before {
    content: "\0025cf  "
}

.lst-kix_rb62l4quicnu-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_q2bbs9rxux9q-2 > li:before {
    content: "\0025a0  "
}

.lst-kix_804yv6nli44b-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_rb62l4quicnu-0 > li:before {
    content: "\0025cf  "
}

.lst-kix_h5k4sc9zf80p-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_gyl93j9fnttc-1 > li:before {
    content: "-  "
}

.lst-kix_rb62l4quicnu-4 > li:before {
    content: "\0025cb  "
}

ul.lst-kix_ke9s88nph1fy-7 {
    list-style-type: none
}

ul.lst-kix_ke9s88nph1fy-8 {
    list-style-type: none
}

.lst-kix_804yv6nli44b-5 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_ke9s88nph1fy-5 {
    list-style-type: none
}

ul.lst-kix_rb62l4quicnu-4 {
    list-style-type: none
}

ul.lst-kix_ke9s88nph1fy-6 {
    list-style-type: none
}

ul.lst-kix_rb62l4quicnu-5 {
    list-style-type: none
}

.lst-kix_wltdgkhwhzxv-8 > li:before {
    content: "\0025a0  "
}

ul.lst-kix_ke9s88nph1fy-3 {
    list-style-type: none
}

ul.lst-kix_rb62l4quicnu-6 {
    list-style-type: none
}

ul.lst-kix_ke9s88nph1fy-4 {
    list-style-type: none
}

ul.lst-kix_rb62l4quicnu-7 {
    list-style-type: none
}

ul.lst-kix_ke9s88nph1fy-1 {
    list-style-type: none
}

ul.lst-kix_rb62l4quicnu-0 {
    list-style-type: none
}

ul.lst-kix_ke9s88nph1fy-2 {
    list-style-type: none
}

ul.lst-kix_rb62l4quicnu-1 {
    list-style-type: none
}

ul.lst-kix_rb62l4quicnu-2 {
    list-style-type: none
}

ul.lst-kix_ke9s88nph1fy-0 {
    list-style-type: none
}

ul.lst-kix_rb62l4quicnu-3 {
    list-style-type: none
}

.lst-kix_c879jnvm6zt8-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_gyl93j9fnttc-5 > li:before {
    content: "-  "
}

.lst-kix_mn7iqbn6ax0y-7 > li:before {
    content: "\0025cb  "
}

.lst-kix_44f67kqbm3z2-8 > li:before {
    content: "\0025a0  "
}

.lst-kix_pk4t1fnv3wko-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_c879jnvm6zt8-5 > li:before {
    content: "\0025a0  "
}

.lst-kix_rmdgyn8smaxk-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_pk4t1fnv3wko-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_4yuovmdewchx-1 > li:before {
    content: "\0025cb  "
}

.lst-kix_4yuovmdewchx-5 > li:before {
    content: "\0025a0  "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_rmdgyn8smaxk-5 > li:before {
    content: "\0025a0  "
}

ol {
    margin: 0;
    padding: 0
}

table td, table th {
    padding: 0
}

.c58 {
    padding-top: 0pt;
    border-top-width: 0pt;
    padding-left: 11.2pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c75 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 2.2pt;
    border-right-width: 2.2pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 2.2pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 2.2pt;
    width: 382.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c19 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 382.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c92 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 2.2pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 382.5pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c66 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 104.2pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c29 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 2.2pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 104.2pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c100 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #f37f1a;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 4.5pt;
    width: 451.4pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c24 {
    margin-left: 25pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    margin-right: -11pt
}

.c30 {
    background-color: #ffffff;
    -webkit-text-decoration-skip: none;
    color: #424242;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-size: 21pt;
    font-family: "Gothic A1"
}

.c20 {
    background-color: #ffffff;
    color: #424242;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 1pt;
    font-family: "Gothic A1";
    font-style: normal
}

.c39 {
    background-color: #ffffff;
    color: #3a7bd5;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Arial";
    font-style: normal
}

.c1 {
    background-color: #ffffff;
    color: #e69138;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Gothic A1";
    font-style: normal
}

.c2 {
    background-color: #ffffff;
    color: #f37f1a;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Gothic A1";
    font-style: normal
}

.c7 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Gothic A1";
    font-style: normal
}

.c4 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Gothic A1";
    font-style: normal
}

.c34 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 8pt;
    font-family: "Gothic A1";
    font-style: normal
}

.c12 {
    color: #222222;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9.5pt;
    font-family: "Arial";
    font-style: normal
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c10 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c21 {
    background-color: #ffffff;
    color: #e69138;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 19pt;
    font-style: normal
}

.c73 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c6 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c113 {
    padding-top: 0pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c37 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left;
    height: 11pt
}

.c35 {
    background-color: #ffffff;
    font-size: 21pt;
    font-family: "Gothic A1";
    color: #424242;
    font-weight: 700
}

.c67 {
    color: #424242;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 1pt;
    font-style: normal
}

.c15 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-style: normal
}

.c28 {
    background-color: #ffffff;
    color: #e69138;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c26 {
    color: #999999;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: normal
}

.c51 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c8 {
    background-color: #ff0000;
    font-size: 6.5pt;
    font-family: "Gothic A1";
    color: #f3f3f3;
    font-weight: 400
}

.c0 {
    font-size: 5.5pt;
    font-family: "Gothic A1";
    color: #666666;
    font-weight: 400
}

.c43 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c42 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
    text-decoration-skip-ink: none
}

.c112 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c53 {
    background-color: #039137;
    font-size: 6.5pt;
    color: #f3f3f3
}

.c36 {
    background-color: #073763;
    font-size: 6.5pt;
    color: #f3f3f3
}

.c76 {
    background-color: #980000;
    font-size: 8.5pt;
    color: #990000
}

.c101 {
    background-color: #38761d;
    font-size: 11.5pt;
    color: #f3f3f3
}

.c46 {
    background-color: #38761d;
    font-size: 6.5pt;
    color: #f3f3f3
}

.c97 {
    background-color: #039137;
    font-size: 8.5pt;
    color: #f3f3f3
}

.c45 {
    background-color: #ff0000;
    font-size: 10.5pt;
    color: #f3f3f3
}

.c102 {
    background-color: #b45f06;
    font-size: 7.5pt;
    color: #f3f3f3
}

.c16 {
    background-color: #bf9000;
    font-size: 7.5pt;
    color: #f3f3f3
}

.c87 {
    background-color: #bf9000;
    font-size: 5.5pt;
    color: #f3f3f3
}

.c85 {
    background-color: #980000;
    font-size: 6.5pt;
    color: #990000
}

.c50 {
    background-color: #073763;
    font-size: 8.5pt;
    color: #1c4587
}

.c84 {
    background-color: #039137;
    font-size: 10.5pt;
    color: #f3f3f3
}

.c60 {
    background-color: #38761d;
    font-size: 6.5pt;
    color: #38761d
}

.c13 {
    background-color: #980000;
    font-size: 8.5pt;
    color: #9fc5e8
}

.c105 {
    background-color: #cccccc;
    font-size: 10.5pt;
    color: #980000
}

.c56 {
    background-color: #b45f06;
    font-size: 6.5pt;
    color: #f3f3f3
}

.c81 {
    background-color: #073763;
    font-size: 5.5pt;
    color: #f3f3f3
}

.c82 {
    background-color: #980000;
    font-size: 8.5pt;
    color: #ffffff
}

.c72 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c68 {
    background-color: #ff9900;
    font-size: 8.5pt;
    color: #ff0000
}

.c79 {
    background-color: #0b5394;
    font-size: 8.5pt;
    color: #0b5394
}

.c32 {
    font-size: 17pt;
    font-family: "Gothic A1";
    font-weight: 700
}

.c40 {
    background-color: #ffffff;
    font-size: 19pt;
    color: #e69138
}

.c110 {
    background-color: #264de4;
    font-size: 8.5pt;
    color: #0000ff
}

.c22 {
    background-color: #990000;
    font-size: 6.5pt;
    color: #f3f3f3
}

.c99 {
    background-color: #38761d;
    font-size: 5.5pt;
    color: #f3f3f3
}

.c52 {
    background-color: #b45f06;
    font-size: 5.5pt;
    color: #f3f3f3
}

.c57 {
    background-color: #38761d;
    font-size: 5.5pt;
    color: #38761d
}

.c95 {
    background-color: #bf9000;
    font-size: 7.5pt;
    color: #bf9000
}

.c132 {
    background-color: #039137;
    color: #f3f3f3;
    font-size: 11pt
}

.c69 {
    background-color: #cccccc;
    font-size: 6.5pt;
    color: #980000
}

.c88 {
    background-color: #cccccc;
    font-size: 8.5pt;
    color: #d9d9d9
}

.c89 {
    background-color: #264de4;
    font-size: 8.5pt;
    color: #ffffff
}

.c38 {
    font-size: 11.5pt;
    color: #666666
}

.c118 {
    color: #0000ff;
    font-size: 9.5pt
}

.c103 {
    background-color: #38761d;
    color: #f3f3f3
}

.c111 {
    background-color: #274e13;
    color: #d9ead3
}

.c93 {
    background-color: #ff0000;
    color: #f3f3f3
}

.c25 {
    font-size: 8pt;
    color: #666666
}

.c27 {
    font-size: 7.5pt;
    color: #666666
}

.c54 {
    font-weight: 700;
    font-family: "Gothic A1"
}

.c18 {
    font-size: 8.5pt;
    color: #666666
}

.c125 {
    background-color: #b45f06;
    color: #f3f3f3
}

.c91 {
    font-size: 20pt;
    color: #e69138
}

.c96 {
    background-color: #434343;
    color: #f3f3f3
}

.c71 {
    font-size: 12pt;
    color: #e69138
}

.c80 {
    background-color: #0b5394;
    color: #f3f3f3
}

.c9 {
    font-weight: 400;
    font-family: "Gothic A1"
}

.c62 {
    color: #212529;
    font-size: 15pt
}

.c114 {
    background-color: #073763;
    color: #f3f3f3
}

.c127 {
    max-width: 451.4pt;
    padding: 28.3pt 72pt 28.3pt 72pt
}

.c70 {
    background-color: #38761d;
    color: #38761d
}

.c17 {
    color: #212529;
    font-size: 12pt
}

.c120 {
    background-color: #cccccc;
    color: #980000
}

.c5 {
    color: inherit;
    text-decoration: inherit
}

.c33 {
    font-size: 6.5pt;
    color: #666666
}

.c49 {
    font-size: 17pt;
    color: #e69138
}

.c131 {
    font-weight: 400;
    font-family: "Verdana"
}

.c11 {
    padding: 0;
    margin: 0
}

.c128 {
    background-color: #980000;
    color: #9fc5e8
}

.c109 {
    background-color: #bf9000;
    color: #f3f3f3
}

.c106 {
    color: #666666;
    font-size: 9.5pt
}

.c61 {
    height: 420.9pt
}

.c122 {
    color: #990000
}

.c126 {
    height: 370.9pt
}

.c104 {
    height: 326.9pt
}

.c121 {
    height: 125.1pt
}

.c63 {
    font-size: 8pt
}

.c31 {
    font-size: 10pt
}

.c48 {
    height: 27pt
}

.c14 {
    font-size: 16pt
}

.c129 {
    height: 0pt
}

.c123 {
    height: 150.9pt
}

.c65 {
    height: 137.2pt
}

.c116 {
    height: 126.8pt
}

.c124 {
    height: 8.9pt
}

.c119 {
    font-size: 11.5pt
}

.c55 {
    height: 110.2pt
}

.c130 {
    font-size: 9.5pt
}

.c78 {
    height: 312pt
}

.c83 {
    color: #999999
}

.c77 {
    font-size: 12pt
}

.c90 {
    font-size: 6.5pt
}

.c94 {
    font-size: 17pt
}

.c23 {
    font-size: 9pt
}

.c59 {
    height: 64.2pt
}

.c44 {
    background-color: #ffffff
}

.c74 {
    height: 90.8pt
}

.c64 {
    font-size: 13pt
}

.c117 {
    font-size: 8.5pt
}

.c86 {
    height: 11pt
}

.c107 {
    color: #202124
}

.c47 {
    height: 142pt
}

.c98 {
    height: 324pt
}

.c115 {
    height: 99.8pt
}

.c41 {
    height: 106.8pt
}

.c108 {
    height: 82.7pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}